
body{
    font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
    background-color: #EFEFF4;
    margin: 0;
}
.sectionHead{
    font-size: 14px;
    color: #777777;
    display: block; 
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 5px;
    padding-right: 10px;
}

.row{
    background-color: #ffffff;
    padding: 11px;   
}

.form-group{
    background-color: #ffffff;
    padding: 2px;   
    padding-left: 10px;
    padding-right: 5px;
    margin-top: 1px;
}
 
.title{
    color: #333333;
    line-height: 40px;
}

.titleUpload {
    line-height: 60px;
}

.form-group .el-input__inner{
    border: 1px solid #ffffff;
}

.next{
    width: 75%; 
    margin-top: 20px;
    margin-left: 12.5%
}
.short{
    width: 35%;
}
.contentBtn{
    text-align: right;  
}

.sectionHead1{
    font-size: 16px;
    font-weight: bold;
    color: #333333;
    display: block; 
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 5px;
    padding-right: 10px;
}

.titleCom{
    padding-top: 10px;
    padding-bottom: 5px;
    color: #333333;
    font-size: 14px;
    line-height: 25px;
}

.titleDesc{
    color: #777777;
    font-size: 14px;
    line-height: 25px;
}


.avatar-uploader .el-upload {
    border: 1px dashed #d9d9d9;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }
  .avatar-uploader .el-upload:hover {
    border-color: #409EFF;
  }
  .avatar-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
  }
  .avatar {
    width: 60px;
    height: 60px;
    display: block;
  }